<!DOCTYPE html>
<html lang="es">

<head>
  <title>Webscreenshot</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="content">
  <p style="text-align:center !important;font-size:20px;">
    <a href="{{ address }}" style="padding: 15px;background-color:rgba(0, 0, 0, 0.04);border-radius:5px;">{{address}}</a>
  </p>
  <p style="text-align:center !important;"><img alt="" src="/static/img/batman.gif"/></p>
</body>
</html>
